@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


*{
  box-sizing: border-box;
  font-family: 'Abril Fatface', serif;
  font-family: 'Caveat', cursive;
  font-family: 'Inter', sans-serif;
  font-family: 'Kanit', sans-serif;
  font-family: 'Noto Sans Thai', sans-serif;
  font-family: 'Prompt', sans-serif;
  margin-bottom:1rem;
}

body{
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container{
  margin: 30px;
  width: 500px;
}

.horizontal-menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;

}

.horizontal-menu li{
  display: inline-block;
}

.horizontal-menu a{
  /* Link is auto to a tag */
  text-decoration: none;
  display: block;
  padding: 0.5rem 1.5rem;
  background-color: black;
  border-radius: 50px;
  margin: 0 .5rem;
  color: white;
}